<p>Gallery of Champions</p>
<p><%=link_to image_tag("http://media.ufc.tv/fighter_images/Fabricio_Werdum/FabricioWerdum_Belt.png"), '/heavyweight' %></p>
<p><%=link_to image_tag("http://media.ufc.tv/fighter_images/Daniel_Cormier/CORMIER_DANIEL.png"), '/lightheavyweight' %></p>
<p><%=link_to image_tag("http://www.law-mma.com/wp-content/uploads/2014/08/ChrisWeidman_HeadshotBelt.png"), '/middleweight' %></p>
<p><%=link_to image_tag("http://media.ufc.tv/fighter_images/Robbie_Lawler/LAWLER_ROBBIE_BELT.png"), '/welterweight' %></p>
<p><%=link_to image_tag("http://media.ufc.tv/fighter_images//Rafael_Dos_Anjos/DOS_ANJOS_RAFAEL_BELT.png"), '/lightweight' %></p>
<p><%=link_to image_tag("http://media.ufc.tv/fighter_images/Jose_Aldo/ALDO_JOSE.png"), '/featherweight' %></p>
<p><%=link_to image_tag("http://media.ufc.tv/fighter_images//TJ_Dillashaw/DILLASHAW_TJ_AD.png"), '/bantamweight' %></p>
<p><%=link_to image_tag("http://www.mansworld.co/wp-content/uploads/2015/11/wall-thumbnail172252565a118da18bd.jpg"), '/womansbantamweight' %></p>
<p><%=link_to image_tag("http://media.ufc.tv/fighter_images/Demitrious_Johnson/JOHNSON_DEMETRIOUS.png"), '/flyweight' %></p>
<p><%=link_to image_tag("http://www.aroundtheoctagon.com/wp-content/uploads/2015/06/Joanna-Jedrzejczyk.png"), '/womensstrawweight' %></p>